 <header class="top-container">
   <!-- <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
      <div class="container-fluid">
         <a class="navbar-brand" href="#">Navbar</a>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
           <div class="navbar-nav">
             <a class="nav-link active" aria-current="page" href="#">Home</a>
             <a class="nav-link" href="#">Features</a>
             <a class="nav-link" href="#">Pricing</a>
             <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
           </div>
         </div>
       </div>
   </nav> -->

   <img class="top-cloud" src="../../assets/img/cloud.png" alt="cloud-img">
   <img class="bottom-cloud" src="../../assets/img/cloud.png" alt="cloud-img">
   <h1>Soy Rafa.</h1>
   <h2>un <u>ingeniero</u> web</h2>
   <img class="img-fluid" src="../../assets/img/mountain.png" alt="mountain-img">
 </header>

