<article>
  <h2>{{texts.devops.header}}</h2>
  <hr>
  <div class="my-container">
    <h3>{{texts.devops.plan.header}}</h3>
    <p>{{texts.devops.plan.paragraph}}</p>
  </div>
  <hr>
  <div class="my-container">
    <h3>{{texts.devops.continuousIntegration.header}}</h3>
    <p>{{texts.devops.continuousIntegration.paragraph}}</p>
  </div>
  <hr>
  <div class="my-container">
    <h3>{{texts.devops.continuousDeployment.header}}</h3>
    <p>{{texts.devops.continuousDeployment.paragraph}}</p>
  </div>
  <hr>
  <div class="my-container">
    <h3>{{texts.devops.why.header}}</h3>
    <p>{{texts.devops.why.paragraph}}</p>
  </div>
  <hr>
</article>
