<article>
  <h2>DevOps</h2>
  <hr>
  <div class="my-container">
    <h3>Plan</h3>
    <p>A través de la metodología adecuada al proyecto (Scrum o RUP, por ejemplo), un repositorio de código remoto
      (como Github) y usando una herramienta de comunicación como Slack se puede organizar un equipo. Por supuesto
      existen muchas más herramientas, como Jira o Trello.
    </p>
  </div>
  <hr>
  <div class="my-container">
    <h3>Integración Continua</h3>
    <p>Entre las prácticas adecuadas se encuentra participar activamente en el proyecto, haciendo aportaciones
    al repositorio remoto a través de pequeñas tareas. Las herramientas como TravisCI o Jenkins hacen automático
    gran parte del trabajo. Ejecutan el flujo deseado, desde que se hace esa pequeña aportación estas herramientas
    son capaces de ejecutar los tests del proyecto y lanzar las herramientas que analizan el código para buscar
    posibles Smell Code.</p>
  </div>
  <hr>
  <div class="my-container">
    <h3>Despliegue continuo</h3>
    <p>Algunas herramientas que nos permiten enlazar la integración continua con el despliegue son, por ejemplo,
    Heroku y Firebase Hosting. Cualquier cambio en el repositorio de código lanzará todo el flujo hasta su despliegue.
    </p>
  </div>
  <hr>
  <div class="my-container">
    <h3>¿Por qué he nombrado algunas de estas herramientas?</h3>
    <p>Exceptuando Jira, todas las demás herramientas o metodologías las he usado y en menor o mayor medida, las conozco.
      Si necesitáis más información, ¡no dudéis en contactar!
    </p>
  </div>
  <hr>
</article>
