<article>
  <h2>Ponte en Contacto</h2>
  <hr>
  <div class="contact-me">
    <h3>¿Te gusta el café tanto como a mí?</h3>
    <p>Simplemente podemos trabajar con un maravilloso café natural codo
      con codo. ¿A qué estás esperando? ¡Contáctame!
    </p>
    <a class="btn btn-outline-info btn-lg" href="mailto:rafadriveclase@gmail.com">EMAIL</a>
    <a class="btn btn-outline-info btn-lg"
       href="https://www.linkedin.com/in/rafael-tom%C3%A9-ruiz-607770194/" rel="noopener" target="_blank">LINKEDIN</a>
  </div>
  <hr>
</article>
