<article>
  <h2>Código limpio y patrones</h2>
  <div class="my-container">
    <h3>Sobre el Software</h3>
    <p>Cualquier buen desarrollador sabe que el Software construido a través de código de baja calidad no es mantenible.
      La forma en la que trabajo se basa en revisar continuamente el código para detectar anomalías, mejorar la calidad
      teniendo en cuenta las buenas prácticas y diseñar en base a patrones.
    </p>
    <h3>Calidad del Software</h3>
    <p>KISS, YAGNI, SOLID.. Detectar y evitar código sucio... Son las prácticas que intento llevar a cabo.</p>
    <h3>Patrones en el Software</h3>
    <p>MVC, Técnica del doble despacho, Patrón prototipo... Son algunos de los patrones que otorgan solución a los
    problemas más comunes.</p>
    <h3>¿Cómo trabajo?</h3>
    <p>'Intento' aplicar todas las reglas de calidad del Software y evitar el código sucio e 'intento' diseñar
     en base a patrones.</p>
    <p>¿Por qué digo 'intento'? Simplemente porque no tengo tanta experiencia como para que no se me escapen algunas cosas
    o para hacer el diseño perfecto. Es a lo que quiero llegar.</p>
  </div>
</article>
