<article>
  <h2>{{texts.ccpatterns.header}}</h2>
  <hr>
  <div class="my-container">
    <h3>{{texts.ccpatterns.aboutSoftware.header}}</h3>
    <p>{{texts.ccpatterns.aboutSoftware.paragraph}}</p>
  </div>
  <hr>
  <div class="my-container">
    <h3>{{texts.ccpatterns.qualityAndPatterns.header}}</h3>
    <p *ngFor="let paragraph of texts.ccpatterns.qualityAndPatterns.paragraphs">{{paragraph}}</p>
  </div>
  <hr>
  <div class="my-container">
    <h3>{{texts.ccpatterns.howIWork.header}}</h3>
    <p *ngFor="let paragraph of texts.ccpatterns.howIWork.paragraphs">{{paragraph}}</p>
  </div>
  <hr>
</article>
