<article>
  <div class="wrapper d-flex flex-column flex-lg-row justify-content-around align-items-lg-stretch align-items-center bg-light">
    <div *ngFor="let card of cardModels" class="card">
      <img [src]=card.img_src class="card-img-top" [alt]=card.img_alt>
      <div class="card-body d-flex flex-column justify-content-between">
        <h5 class="card-title">{{card.title}}</h5>
        <p class="card-text">{{card.description}}</p>
        <a [routerLink]=card.routerlink class="btn btn-primary">{{card.title}}</a>
      </div>
    </div>
  </div>
</article>
