<article class="middle-container">
    <div class="profile">
      <img class="img-rounded" src="../../assets/img/rafa.png" alt="rafa-img">
      <h2>Hola.</h2>
      <p>Soy un ingeniero web en proceso. Comencé a interesarme en desarrollo web full-stack
      en un erasmus que hice en Finlandia a final de 2019, donde aprendí React.
      Ahora, como consecuencia de haber estado allí, soy un defensor aférrimo
      del café natural.</p>
    </div>
    <hr>
    <div class="skills">
      <h2>Trayecto</h2>
      <div class="skill-row">
        <img class="img-web" src="https://media.giphy.com/media/MaI6BylfjAkDkfk4OC/giphy.gif" alt="web-design-img">
        <h3>Diseño y Desarrollo</h3>
        <p>Comencé a interesarme por la programación en general desde que era un
          niño, prácticamente desde la ESO. Aprendí poco a poco, finalmente
          decantándome por el Diseño y Desarrollo de Videojuegos. Ahí aprendí
          bastente Back-End y mucha programación. En el Erasmus que hice en Finlandia
          descubrí que hay más futuro en la industria web y que estaba mucho más
          asentada. Le cogí el gusto y comencé por ese camino. Actualmente estoy
          cursando un máster en Ingeniería Web, en la Universidad Politécnica de Madrid.
        </p>
      </div>
      <div class="skill-row">
        <img class="img-pc" src="../../assets/img/pc.png" alt="pc-img">
        <h3>Back-End</h3>
        <p>Quizás la parte más aburrida y divertida al mismo tiempo sea el Back-End.
          Lidiar con tecnologías antigüas no es lo mío, pero cuando se trata de
          un reto me lo tomo como algo personal. Cuando salen las cosas, es la
          mejor sensación de todas.
        </p>
      </div>
    </div>
    <hr>
    <div class="contact-me">
      <h2>Ponte en Contacto</h2>
      <h3>¿Te gusta el café tanto como a mí?</h3>
      <p>Simplemente podemos trabajar con un maravilloso café natural codo
        con codo. ¿A qué estás esperando? ¡Contáctame!
      </p>
      <a class="contact-btn" href="mailto:rafadriveclase@gmail.com">CONTACTAR</a>
    </div>
</article>
