<app-landscape [header]=texts.landscape.header [subheader]=texts.landscape.subheader></app-landscape>
<article class="middle-container">
  <div class="my-container">
    <img class="img-rounded" src="../../assets/img/rafa.png" alt="rafa-img">
    <h2>{{texts.welcome.header}}</h2>
    <p>{{texts.welcome.paragraph}}</p>
  </div>
  <hr>
  <div class="my-container">
    <h2>{{texts.journey.header}}</h2>
    <div class="trip-row">
      <h3>{{texts.journey.summary.header}}</h3>
      <img class="img-web" src="https://media.giphy.com/media/MaI6BylfjAkDkfk4OC/giphy.gif" alt="web-design-img">
      <p>{{texts.journey.summary.paragraph}}</p>
    </div>
    <div class="trip-row">
      <h3>{{texts.journey.studies.header}}</h3>
      <p>{{texts.journey.studies.paragraph}}</p>
      <div class="table-responsive -md">
        <table class="table table-hover table-bordered">
          <caption>{{texts.journey.studies.table.caption}}</caption>
          <thead>
            <tr>
              <th scope="col">{{texts.journey.studies.table.headers.title}}</th>
              <th scope="col">{{texts.journey.studies.table.headers.place}}</th>
              <th scope="col">{{texts.journey.studies.table.headers.score}}</th>
              <th scope="col">{{texts.journey.studies.table.headers.date}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let study of texts.journey.studies.table.rows">
              <td>{{study.title}}</td>
              <td>{{study.place}}</td>
              <td>{{study.score}}</td>
              <td>{{study.date}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="trip-row">
      <h3>{{texts.journey.internship.header}}</h3>
      <img class="img-pc" src="../../assets/img/pc.png" alt="pc-img">
      <p>{{texts.journey.internship.paragraphs[0]}}</p>
      <p>{{texts.journey.internship.paragraphs[1]}}</p>
    </div>
  </div>
  <hr>
</article>
